<ul>
    <li><a href="/reportePlaca">Rporte por Placa</a></li>
    <li><a href="/reporteModelo">Reporte por Modelo</a></li>
    <li><a href="/reporteSerie">Reporte por Serie</a></li>
    <li><a href="/reporteMarca">Reporte por Marca</a></li>
</ul>