
	
	<div class="btn btn-primary"><a class="enlace" href="/reportePlaca">Reporte por Placa</a></div>
    <div class="btn btn-primary"><a class="enlace" href="/reporteModelo">Reporte por Modelo</a></div>
    <div class="btn btn-primary"><a class="enlace" href="/reporteSerie">Reporte por Serie</a></div>
    <div class="btn btn-primary"><a class="enlace" href="/reporteMarca">Reporte por Marca</a></div>
    <%= link_to 'Regresar', equipos_path,class:"btn btn-warning" %>
